.header {
	height: 40px;
	border-bottom: 1px solid #e4e5e8;
	display: block;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	@media (min-width: 992px) {
		height: 50px !important;
	}

	.header-common-menu {
		display: flex;
		justify-content: flex-end !important;

		@media (min-width: 992px) {
			justify-content: space-between !important;
		}

		.header-text {
			display: flex;
			align-items: center;
			cursor: pointer;
			height: 40px;
			padding-left: 15px;
			font-weight: 700;
		}
	}
}
